* {
    /*box-sizing: border-box;
    background: rgb(0 100 0 / 0.1) !important;*/
}

html,
body {
    margin: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    height: 100%;
}

button {
    border: none;
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    outline: inherit;
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: minmax(8em, 1fr) 4fr;
}

.sidebar {
    grid-row: 1 / -1;
    background-color: #1992d4;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    display: grid;
    grid-template-rows: 1fr 6fr 6fr;
    gap: 1em;
}

.sidebar svg {
    /*display: inline;*/
    font-size: larger;
}

.sidebar a {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: inherit;
}

.sidebar .title {
    align-self: flex-start;
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5em;
    font-size: x-large;
}

.title svg {
    font-size: xx-large;
}

.sidebar ul {
    padding: 0;
    display: grid;
    gap: 0.5em;
}

.sidebar li {
    list-style: none;
}

.sidebar .menu,
.options {
    padding-left: 0.5em;
    line-height: 2em;
}

.sidebar .options {
    align-self: flex-end;
}

.header_top {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    font-size: larger;
    gap: 2em;
    justify-items: end;
}

.header_top button {
    font-size: larger;
}

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 1em;
    gap: 1em;
}

.searchbar {
    display: grid;
    grid-template-columns: minmax(1.5em, 1fr) 80fr;
    grid-template-rows: 1fr;
    height: 100%;
    align-items: center;
    gap: 0.5em;
    justify-self: start;
}

.searchbar .searchbar_button {
    cursor: pointer;
}

.searchbar > .searchbar_input {
    border: none;
    border-radius: 50px;
    background-color: #e2e8f0;
    height: fit-content;
}

.profile {
    display: grid;
    grid-template-columns: minmax(2em, 2em) minmax(2em, 2em) minmax(9em, 2fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 0.5em;
    justify-self: end;
    overflow-wrap: none;
}

.profile button {
    cursor: pointer;
}

.profile a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.profile img {
    border-radius: 100%;
    cursor: pointer;
}

.header_bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: stretch;
    align-items: center;
    width: 100%;
}

.profile-info {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
    justify-self: start;
}

.profile-info img {
    border-radius: 100%;
    max-height: 5em;
    max-width: 5em;
}

.action-buttons button {
    background-color: #1992d4;
    border-radius: 50px;
    padding: 0.5em 2em;
    margin: 0em 0.8em;
    color: white;
    font-weight: bold;
}

.header_bottom .action-buttons {
    justify-self: end;
}

.content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5em;
    padding: 2em 1.5em;
    background-color: #e2e8f0;
}

.projects {
    flex: 1;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(2, auto);
    gap: 1.5em;
}

.content-item {
    background-color: white;
    border-radius: 0.5em;
}

.announcements-trending {
    flex: 3;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(1, auto);
    gap: 1.5em;
}

.grid-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.grid-wrapper .content-item {
    flex: 1;
}
